* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    position: fixed;
    padding: 20px 40px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: pink;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-wrapper {
    display: flex;
    width: 320px;
    justify-content: space-between;
    height: 100%;
    /* float: right; */
}

.hamburger {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 25px;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.line {
    width: 100%;
    height: 3px;
    background-color: black;
}

.nav-item {
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .nav-item {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .right-wrapper {
        justify-content: flex-end;
    }
}

.menu.open {
    position: fixed;
    left: 0;
    top: 0;
    background-color: blue;
    width: 100%;
    height: 100%;
}

/* .menu.open {
    display: block;
} */