* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#navbar {
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 16%), 0 2px 10px 0 rgba(0,0,0, 12%);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.menu-item, .logo {
    cursor: pointer;
}

.main-image-wrapper {
    position: relative;
}

.title-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pornhub {
    font-size: 48px;
    font-weight: bold;
    width: 105px;
    text-decoration: none;
}

.porn {
    color: white;
}

.hub {
    color: black;
    background-color: #F19E38;
    text-align: center;
    margin-left: 4px;
    border-radius: 10px;
}

.projects, .about {
    padding: 0px 32px;
}

/* Projects */

.title {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0px;
}

.projects-images {
    display: flex;
    justify-content: space-between;
}

.projects-image-block {
    width: 24%;
    height: auto;
    padding: 8px 0px;
    height: auto;
}

.projects-image {
    width: 100%;
    height: 100%;
    /* padding: 0px 16px; */
}

.projects-image-textblock {
    position: absolute;
    color: white;
    background-color: black;
    padding: 8px 16px;
}

/* About */

.about-text {
    margin: 15px 0px;
}

.about-person-blocks {
    display: flex;
    justify-content: space-between;
}

.person-block {
    width: 24%;
    margin: 40px 0px;
}

.person-block img {
    width: 100%;
    height: auto;
    filter: saturate(20%);
}

.person-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0px;
}

.person-title {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.60;
    margin: 15px 0px;
}

.person-introduce {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0px;
}

.person-contact {
    text-align: center;
    padding: 8px 16px;
    background: #f1f1f1;
}

.person-contact:hover {
    cursor: pointer;
    background: rgb(176, 176, 176);
}